<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="2" name="Suite" parallel="classes">
<parameter name="browsername" value="chrome"/>
  <test thread-count="2" name="Test" parallel="classes">
  
 <classes>
 
     <class name="Oakwood.seleniumtest.OakWoodTest" />
 
 </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
